<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Quotes App</title>
    <script src="src/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Movie and Game Quotes</h1>
      <div>
        <button @click='previousPage'><~</button>
        <span v-for='num in pageList'><button @click='currentPage=num'>{{ num }}</button></span>
        <button @click='nextPage'>~></button>
        <br>
        <br>
        <label>Quotes per page</label>
        <br>
        <input @click='perPage' v-model='perPage' id='pages' type='number' min='1' max='15' step='1'>
      </div>
      <div>
        <h3>Themes</h3>
        <button @click="theme='games'">games</button>
        <button @click="theme='movies'">movies</button>
        <button @click="theme=null">all</button>
      </div>

      <br>
      <search-quotes
        v-bind:search='search'
        />
      <br>
      <br>

      <quote-list
        v-bind:quotes='searchQuotes'
        v-bind:view-start='viewStart'
        v-bind:view-end='viewEnd'
        />
    </div>
    <script src='src/QuoteList.js'></script>
    <script src='src/QuoteItem.js'></script>
    <script src='src/app.js'></script>
  </body>
</html>
